{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}

<h1>Add Post for {{ user.full_name }}</h1>

<form method="POST">

  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input class="form-control" id="title" name="title">
    </div>
  </div>

  <div>
    <label for="content">Content</label>
    <div>
      <textarea id="content" name="content"></textarea>
    </div>
  </div>

  <div>
    {% for tag in tags %}
    <div>
      <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
      <label for="tag_{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}
  </div>

  <div>
    <div>
      <a href="/users/{{ user.id }}">Cancel</a>
      <button type="submit">Add</button>
    </div>
  </div>

</form>

{% endblock %}